
services:
  mariadb:
    container_name: mariadb
    build:
      context: requirements/mariadb
    env_file:
      - .env.db
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    restart: always
  wordpress:
     container_name: wordpress
     build:
       context: requirements/wordpress
     env_file:
       - .env.wp
     volumes:
       - wordpress_data:/var/www/wordpress
     depends_on:
       - mariadb
     networks:
       - inception
     restart: always
  nginx:
    container_name: nginx
    build:
      context: requirements/nginx
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/wordpress
    depends_on:
      - wordpress
    networks:
      - inception
    restart: always
volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/youssef/data/mariadb
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/youssef/data/wordpress
networks:
  inception:
    driver: bridge
